
.social-login ul {
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .social-login ul li {
    flex: 1 auto;
  }
  
  .social-login ul li a {
    background-color: #180c0c;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .social-login ul li a::before {
    content: '';
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    margin-right: 5px;
  }
  .social-login ul li a:hover {
    background-color: #fff199;
    color: #0e090e;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  li.google {
    margin-right: 10px;
  }
  
  li.google a::before {
    background-image: url("../../assets/img/logo1.png");
  }